.dropdown {
  display: block;
  padding: 18px;
  border-radius: 8px;
  width: 135px;
  height: 86px;
  background-color: var(--modal-bg-color);
  box-shadow: 0px 4px 16px 0px rgba(17, 17, 17, 0.4);
  /* position: absolute; */
  position: relative;
  margin-left: auto;
  margin-bottom: 5px;
  right: 0;
  z-index: 2;
}

.btn {
  display: flex;
  border: none;
  background-color: transparent;
  width: 99px;
  justify-content: space-between;
  align-items: center;
  color: var(--black);

  span {
    color: var(--black);
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.28px;
    z-index: 3;
  }

  .icon {
    fill: transparent;
    stroke: var(--black);
  }
}

.btn:hover,
.btn:focus {
  span {
    color: var(--high-priority-color);
  }

  .icon {
    stroke: var(--high-priority-color);
  }
}
