.img_wrapper {
  margin: 0 auto 25px auto;
  position: relative;
  width: 68px;
  height: 68px;
  .img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  .custom_file_upload {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
    border-radius: 8px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .file_upload {
    display: none;
  }
}

.custom_file_upload:hover {
  background-color: var(--accent-color);
}

.upload_icon {
  stroke: #161616;
}
.form {
  display: flex;
  flex-direction: column;
}
.field {
  width: 100%;
  padding: 14px 18px;
  border-radius: 8px;
  border: 1px solid var(--main-color);
  opacity: 0.4;
  margin-bottom: 14px;
}

.field:nth-child(5) {
  margin-bottom: 24px;
}

.field:active,
.field:focus {
  opacity: 1;
  outline: 1px solid var(--main-color);
}

.send_button {
  background-color: var(--main-color);
  padding: 14px;
  border-radius: 8px;
  outline: transparent;
  border: none;
  color: var(--secondary-text-color);
}

.send_button:hover {
  background-color: var(--accent-color);
}
