.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background-color: var(--modal-bg-color);
    padding: 10px;
    border-radius: 8px;
    width: 300px;
    height: 200px;
    border: none;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .modalContent{
        padding: 24px;
        width: 425px;
        height: 220px;
    }
    .modalTitle{
        font-weight: 500;
        font-size: 18px;
        letter-spacing: -0.02em;
        color: var(--main-text-color);
        text-align: center;
        padding-bottom: 15px;
        max-width: 310px;
    }
    .cardTitle {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: -0.02em;
      
      }
}

.modalTitle {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--main-text-color);
    text-align: center;
    padding-bottom: 15px;
    max-width: 280px;
}

.cardTitle {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--main-text-color);
    text-align: center;
    padding-bottom: 2px;
    border-bottom: 1px solid var(--main-text-color);
  }

.deleteBtns {
    display: flex;
    gap: 30px;
    padding-top: 15px;
}

.confirmButton,
.cancelButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: var(--white);
    font-weight: bold;
    gap: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.confirmButton {
    background-color: var(--main-color);
}

.confirmButton:hover {
    cursor: pointer;
    background-color: var(--accent-color);
    transform: scale(1.05);
}

.cancelButton {
    background-color: var(--medium-priority-color);
}

.cancelButton:hover {
    cursor: pointer;
    background-color: #e083a5;
    transform: scale(1.05);
}

.yesIcon {
    width: 20px;
    height: 20px;
    fill: var(--white);
}

.noIcon {
    width: 20px;
    height: 20px;
    fill: var(--white);
    stroke: var(--white);
}

.modalButtons{
    display: flex;
    gap: 50px;
    margin-top: 30px;
}