.profile {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--text-color);
}

.photo {
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

.overlay {
  opacity: 0;
  background-color: rgba(21, 21, 21, 0.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s cubic-bezier(0.61, 0.41, 0.4, 1.37);
}

.overlay_show {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-bg-color);
  padding: 24px;
  max-width: 335px;
  min-width: 320px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.05);
}

.title {
  display: block;
  margin-bottom: 24px;
}

.closeModal {
  position: absolute;
  cursor: pointer;
  top: 14px;
  right: 14px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 400px;
    max-width: unset;
  }
}
