/* AddCardForm.module.css */
.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal {
    background-color: var(--modal-bg-color);
    padding: 24px;
    border-radius: 8px;
    width: 350px;
    height: 522px;
    border: none;
    text-align: center;
    position: relative;
}

.modalForm {
    line-height: 0;
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 0;
}

.title {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: var(--main-text-color);
    text-align: left;
    margin-bottom: 24px;
}

.input {
    padding: 14px 18px;
    border: 1px solid var(--main-color);
    opacity: 1;
    border-radius: 8px;
    width: 302px;
    height: 49px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
}

.textarea {
    padding: 14px 18px;
    border: 1px solid var(--main-color);
    opacity: 1;
    border-radius: 8px;
    width: 302px;
    height: 154px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    /* font: inherit; */
    resize: none;
}

.input:active,
.input:focus,
.textarea:active,
.textarea:focus {
    opacity: 1;
    outline: 1px solid var(--accent-color);
}

.input::placeholder,
.textarea::placeholder {
    color: var(--main-text-color);
    opacity: 1;
}

.labelRadio {
    text-align: left;
    font: inherit;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 4px;
}

.wrapperRadio {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 14px;
}

.error {
    color: red;
    font-size: 12px;
}

.deadline {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 14px;
    margin-bottom: 40px;
}

.deadline label {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.02em;
    margin-top: 10px;
}

.closeButton {
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: inherit;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.icon {
    stroke: var(--btn-text-color);
}

.radioGroup {
    display: flex;
    justify-content: space-around;
    margin: 4px 0;
}

.formGroupLabelColor {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 10px;
}

/* .formGroupLabelcolor label {
  text-align: start;
  margin-bottom: 4px;
  color: var(--icon-color); */
/* color: var(--main-text-color); */
/* opacity: 0.5;
  font-weight: 400;
  font-size: 12px; */
/* text-align: left; */
/* } */
.currentDate {
    display: flex;
    align-items: center;
    color: var(--icon-bg-color);
}

.icon {
    margin-left: 2px;
    fill: transparent;
    stroke: var(--icon-bg-color);
}

.labelColors {
    display: flex;
    gap: 8px;
}

.priority {
    display: flex;
    flex-direction: column;
    max-width: 80px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.labelName {
    text-align: start;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.02em;
    color: var(--icon-color);

}

.priority input[type='radio'] {
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    position: absolute;
}

.priority.low {
    background-color: var(--low-priority-color);
}

.priority.medium {
    background-color: var(--medium-priority-color);
}

.priority.high {
    background-color: var(--high-priority-color);
}

.priority.without {
    background-color: var(--no-priopity-color);
}

.priority.selected {
    border-color: var(--main-text-color);
}

.addButton {
    border-radius: 8px;
    width: 100%;
    height: 49px;
    background-color: var(--main-color);
    border: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--btn-text-col);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.plusIcon {
    width: 28px;
    height: 28px;
    background-color: var(--btn-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    stroke: var(--sec-iconPlus-color);
}




.calendar {
    position: absolute;
    margin-bottom: -50px;
    left: 50px;
    z-index: 1000;
}