.card::before {
  content: '';
  display: block;
  height: 154px;
  width: 4px;
  background-color: var(--card-color);
  position: absolute;
  margin-left: -14px;
  margin-top: -14px;
  border-radius: 8px 0 0 8px;
}

.card {
  position: relative;
  width: 335px;
  height: 154px;
  border-radius: 8px;

  background-color: var(--cards-bg-color);
  padding: 14px;
}
.desWrap {
  height: 38px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.description {
  width: 290px;
  max-height: 32px;
  overflow: hidden;
  color: rgba(22, 22, 22, 0.7);
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.24px;
  margin-bottom: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  cursor: pointer;
}

.expanded {
  z-index: 100;
  position: absolute;
  top: 43px;
  left: 14px;
  background-color: var(--white);
  max-height: none;
  -webkit-line-clamp: unset;
}

.title {
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.28px;
  margin-bottom: 8px;
  color: var(--main-text-color);
}

.line {
  display: block;
  width: 291px;
  height: 1px;
  background-color: var(--active-icon-color);
  margin-bottom: 14px;
}

.bottom {
  display: flex;
  width: 291px;
  justify-content: space-between;
}

.ops {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-top: 4px;
}

.action {
  display: flex;
  gap: 14px;
}

.deadline {
  color: black;
  /* color: var(--icon-color); */
  font-size: 8px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.16px;
  margin-bottom: 4px;
}

.deadline span {
  display: block;
  color: var(--black);
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.2px;
  margin-top: 4px;
}

.priority {
  display: flex;
  flex-direction: column;
  color: var(--icon-color);
  font-size: 8px;
  line-height: normal;
  letter-spacing: -0.16px;
}

.buttons {
  display: flex;
  align-items: end;
  gap: 8px;
}

.buttons button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.icon {
  fill: transparent;
  stroke: var(--icon-color);
}

/* trash-icon, pencil-icon, circle-icon */

.deadlineIcon {
  display: inline-block;
  margin-left: 8px;
  fill: none;
  stroke: var(--high-priority-color);
}

.label {
  position: relative;
  margin-left: 16px;
  color: var(--black);
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.2px;
  margin-top: 4px;
}

.label::before {
  content: '';
  display: block;
  height: 12px;
  width: 12px;
  background-color: var(--card-color);
  position: absolute;
  margin-left: -16px;
  margin-top: 2px;
  border-radius: 50%;
}

.move:disabled {
  .icon {
    stroke: var(--icon-color);
  }
}
/*===============*/
.modalOverlay {
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  bottom: 200px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 2;
}

.columnItem {
  cursor: pointer;
  padding: 8px;
  margin: 5px 0;
  background: #f0f0f0;
  border-radius: 4px;
  z-index: 3;
}

.columnItem:hover {
  background: #d0d0d0;
}
