.react-datepicker {
  color: var(--calendar-bg-color);
  background-color: var(--main-text-color);
  border: 1px solid var(--accent-color);
  border-radius: 8px;
}

.react-datepicker__header {
  background-color: var(--main-text-color);
  border-radius: 8px;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 8px;
}

.react-datepicker__current-month,
.react-datepicker__day,
.react-datepicker__time-name {
  color: var(--calendar-bg-color);
}

.react-datepicker__day-name {
  color: var(--main-text-color);
  opacity: 0.5;
}

.react-datepicker__day--outside-month {
  color: transparent;
}
.prevMonth.react-datepicker__day--outside-month {
  color: var(--main-text-color);
  opacity: 0.5;
}
