.sidebarContainer {
  width: 225px;
  height: 100vh;
  transition: all 450ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  background: var(--sideBar-bg-color);
}

.sidebar {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 225px;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* transform: translateX(-100%); */
  transition: transform 500ms ease;
  background: var(--sidebar-bg-color);
}

.openSidebar {
  z-index: 1;
  transform: translateX(0);
}

.title {
  color: var(--sec-text-color); /*rgba(22, 22, 22, 0.5);*/
  font-size: 12px;
  line-height: normal;
  letter-spacing: -0.24px;
  margin-bottom: 8px;
  margin-left: 14px;

  @media screen and (min-width: 768px) {
    margin-left: 24px;
  }
}

.separator {
  width: 197px;
  border: none;
  border-top: 1px solid var(--scrollY-color); /*rgba(22, 22, 22, 0.1);*/
}

.createBoardContainer {
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 14px;
  margin-bottom: 14px;
  margin-top: 14px;
  @media screen and (min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 24px;
    margin-top: 24px;
  }
}

.createBoardText {
  color: var(--sec-text-color);
  font-weight: 500;
  line-height: auto;
  letter-spacing: -0.2%;
  width: 76px;
}

.createButton {
  margin-left: 77px;
  width: 40px;
  height: 36px;
  border: none;
  border-radius: 6px;
  background: var(--icon-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.plusIcon {
  width: 20px;
  height: 20px;
  stroke: var(--create-plus-color);
}

.boardList {
  display: flex;
  flex-direction: column;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 40px;
  @media screen and (min-width: 375px) {
    height: 278px;
    overflow: auto;
  }
  @media screen and (min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
    height: 456px;
  }
  @media screen and (min-width: 1440px) {
    height: 202px;
  }
}

.boardItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--sec-text-color);
  padding: 8px 0;
}

.actions button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.icon {
  fill: var(--sicon-color);
}
c.iconAction {
  fill: var(--side-icon-color);
}

.toggleButton {
  position: absolute;
  top: 16px;
  left: 230px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
  transition: left 500ms ease;
}

.toggleIcon {
  fill: var(--icon-color);
}

.sidebarContainer:not(.openSidebar) .toggleButton {
  left: 16px;
}

@media screen and (max-width: 1439px) {
  .sidebarContainer {
    width: 100%;
  }

  .sidebar,
  .openSidebar {
    width: 100%;
  }

  .toggleButton {
    left: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .sidebarContainer {
    width: 260px;
  }

  .sidebar,
  .openSidebar {
    width: 260px;
  }
}
.help {
  margin-top: 150px;
  margin-bottom: 30px;
  background-color: var(--main-bg-color);
}

.out {
}
