.sidebar {
  width: 225px;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 14px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  color: #888888;
  margin-bottom: 8px;
  margin-top: 70px;
}

.separator {
  border: none;
  border-top: 1px solid rgba(22, 22, 22, 0.1);
  margin: 14px 0;
}
.createBoardContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  margin-bottom: 14px;
}

.createBoard {
  width: 76px;
  color: #161616;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

.createButton {
  width: 40px;
  height: 36px;
  border-radius: 6px;
  background-color: #bedbb0;
  border: none;
  cursor: pointer;
  margin-left: 77px;
}
.plusIcon {
  stroke: #121212;
}

.boardList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.boardItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 225px;
  height: 61px;
  background: #f6f6f7;
}

.actions {
  display: flex;
  gap: 8px;
}

.editButton,
.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
