.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}

/* Оверлей не відображається на екранах ширше 1440px */
@media screen and (min-width: 1440px) {
  .modalOverlay {
    display: none;
  }
}

.sidebarContainer {
  max-width: 225px;
  height: 100vh;
  position: fixed;
  background: var(--sideBar-bg-color);
  display: none;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: all 450ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 35;
}

@media screen and (min-width: 768px) {
  .sidebarContainer {
    max-width: 260px;
  }
}

/* Сайдбар завжди видимий на великих екранах */
@media screen and (min-width: 1440px) {
  .sidebarContainer {
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    position: static;
    max-width: 260px;
  }
}

.sidebar {
  width: 225px;
  display: flex;
  flex-direction: column;
  transition: transform 500ms ease;
  background: var(--sidebar-bg-color);
}

.openSidebar {
  z-index: 40;
  transform: translateX(0);
  display: block;
}

/* Видалено анімацію для великих екранів */
@media screen and (min-width: 1440px) {
  .openSidebar {
    transform: translateX(0);
    display: flex;
  }
}

.closedSidebar {
  display: none;
}

.title {
  color: var(--sec-text-color); /*rgba(22, 22, 22, 0.5);*/
  font-size: 12px;
  line-height: normal;
  letter-spacing: -0.24px;
  margin-bottom: 8px;
  margin-left: 14px;

  @media screen and (min-width: 768px) {
    margin-left: 24px;
  }
}

.separator {
  width: 197px;
  border: none;
  border-top: 1px solid var(--scrollY-color); /*rgba(22, 22, 22, 0.1);*/
}

.createBoardContainer {
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 14px;
  margin-bottom: 14px;
  margin-top: 14px;
  @media screen and (min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 24px;
    margin-top: 24px;
  }
}

.createBoardText {
  color: var(--sec-text-color);
  font-weight: 500;
  line-height: auto;
  letter-spacing: -0.2%;
  width: 76px;
}

.createButton {
  margin-left: 77px;
  width: 40px;
  height: 36px;
  border: none;
  border-radius: 6px;
  background: var(--icon-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.plusIcon {
  width: 20px;
  height: 20px;
  stroke: var(--create-plus-color);
}

.boardList {
  display: flex;
  flex-direction: column;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 40px;
  @media screen and (min-width: 375px) {
    height: 278px;
    overflow: auto;
  }
  @media screen and (min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
    height: 456px;
  }
  @media screen and (min-width: 1440px) {
    height: 202px;
  }
}
.boardList::-webkit-scrollbar {
  width: 0;
}
.boardList::-webkit-scrollbar-track {
  background: var(--logo-bg-color); /* цвет фона трека */
  border-radius: 2px;
}

.boardItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--sec-text-color);
  padding: 8px 0;
  
}
.projecContainer{
  display: flex;
  gap: 4px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .projecContainer {
    gap: 8px;
  }
}


.boardTitles{
color: rgba(22, 22, 22, 0.5);
text-align: start;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.28px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.boardItem:hover .projectIcon,
.boardItem:focus .projectIcon,
.boardItem:hover .boardTitles,
.boardItem:focus .boardTitles {
  stroke: var(--active-icon-color); 
  color: var(--active-icon-color); 
font-size: 16px;
}



.actions button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.icon {
  fill: var(--sicon-color);
}
.iconAction {
  fill: transparent;
  stroke: var(--side-icon-color);
transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.iconAction :hover {
  stroke: var(--active-icon-color);
}

.projectIcon {
  width: 18px;
  height: 18px;
  fill: transparent;
  stroke: var(--side-icon-color);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.toggleButton {
  position: absolute;
  top: 16px;
  left: 230px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
  transition: left 500ms ease;
}

.toggleIcon {
  fill: var(--icon-color);
}

.sidebarContainer:not(.openSidebar) .toggleButton {
  left: 16px;
}

@media screen and (max-width: 1439px) {
  .sidebarContainer {
    width: 100%;
  }

  .sidebar,
  .openSidebar {
    width: 100%;
  }

  .toggleButton {
    left: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .sidebarContainer {
    width: 260px;
  }

  .sidebar,
  .openSidebar {
    width: 260px;
  }
}
.help {
  margin-top: 150px;
  margin-bottom: 30px;
  background-color: var(--main-bg-color);
}
.noBoards{
color: var(--sec-text-color);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.28px;
}
