/* .form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #bedbb0;
  border-radius: 8px;
}

.section {
  margin-top: 10px;
}

.icons {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  fill: transparent;
  stroke: #16161680;
}

.iconOption {
  display: flex;
  align-items: center;
}

.iconRadio {
  display: none;
}

.icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  fill: #888;
  transition: fill 0.3s ease, background-color 0.3s ease;
}

.activeIcon {
  stroke: #161616;
}

.createButton {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #bedbb0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
} */

/* Загальні стилі для форми */

.modalOverlay {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background: var(--modal-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(22, 22, 22, 0.5);
}
.form {
  /* position: absolute; */
  /* position: relative; */
  /* z-index: 220; */
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  max-width: 400px;
  border-radius: 8px;
  padding: 24px;
  /* background: var(--main-bg-color); */
  color: var(--main-text-color);
  background-color: #ffffff;
}

/* Стилі для поля введення заголовка */
/* .input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #bedbb0;
  border-radius: 8px;
  color: black;
} */
.iconClose {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 14px;
  right: 14px;
  fill: #161616;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.iconClose:hover {
  fill: transparent;
  stroke: #16161680;
}
.textBoard {
  font-size: 18px;
  text-align: left;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}
.titleInput {
  width: 90%;
  height: 49px;
  padding: 18px;
  font-size: 14px;
  background: var(--modal-bg);
  border-radius: 8px;
  margin-bottom: 24px;
  opacity: 0.4;
  color: var(--main-text-color);
  border: 1px solid #bedbb0;
}

.titleInput:focus {
  opacity: 1;
  outline: 1px solid #bedbb0;
}

.textIcons {
  font-size: 14px;
  text-align: left;
  margin-bottom: 14px;
}

.listDarkIcons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  margin-bottom: 24px;
}

.iconContainer svg {
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.iconContainer:hover svg {
  stroke: #bedbb0;
}
/* Стилі для іконок */
/* .icons {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  flex-wrap: wrap;
  fill: transparent;
  stroke: #16161680;
}

.iconOption {
  display: flex;
  align-items: center;
} */

.iconRadio {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
}

.serIcons {
  width: 18px;
  height: 18px;
  margin: 4px;
  fill: none;
  stroke: #16161680;
}

.darkIcons {
  width: 18px;
  height: 18px;
  margin: 4px;
  fill: none;
  stroke: #bedbb0;
}

.textBackground {
  color: var(--main-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  margin-bottom: 14px;
}

.listColorIcons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
  margin-bottom: 40px;
}
.listItem {
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 2px;
}
.listItemActive {
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  border: 3px solid #bedbb0;
  border-radius: 6px;
  margin: 2px;
}

.inputBack {
  position: absolute;
  cursor: pointer;
  width: 26px;
  height: 26px;
  z-index: 999;
  opacity: 0;
}

.imgBack {
  border-radius: 5px;
}

/* .icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  fill: none;
  transition: fill 0.3s ease, background-color 0.3s ease;
}

.activeIcon {
  stroke: #161616;
  fill: #bedbb0; }/* Виділення активної іконки */

/* Стилі для кнопки створення */
.createButton {
  display: flex;
  width: 287px;
  padding: 10px 0px 11px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  border: none;
}

/* Стилі для фонових зображень */
/* .backgrounds {
  margin-top: 10px;
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
} */

/* Стилі для кожної опції фону */
/* .bgOption {
  display: inline-block;
  margin: 2px; */
/* 
 
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; }*/

/* .bgOption input {
  display: none; }/* Ховаємо саму радіокнопку */

/* .bgOption img {
  width: 28px; 
  height: 28px; 
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
} */

/* Коли фон вибрано (підсвічування вибраного) */
/* .bgOption input:checked + label img {
  box-shadow: 0 0 0 2px #bedbb0; 
  transform: scale(1.05); 
} */

/* Стилі для картинок на фон */
/* .bgImage {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
} */

/* Стилі для картинок на фон, що виділяються при натисканні */
/* .bgOption:hover img {
  transform: scale(1.1);
  box-shadow: 0 0 0 3px #bedbb0;
} */
.createButton:hover,
.createButton:focus {
  background-color: #a6c398;
}
.plusBtn {
  background-color: var(--modal-icon-wrap);
  border-radius: 4px;
  width: 28px;
  height: 28px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonIcons {
  z-index: 999;
}
.buttonBack {
  width: 100%;
  height: 100%;
}
.plusIcon {
  width: 28px;
  height: 28px;
  background-color: var(--btn-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  stroke: var(--sec-iconPlus-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #bedbb0;
  border-radius: 8px;
  color: var(--main-text-color);
}

.section {
  margin-top: 10px;
}

.icons {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  fill: transparent;
  stroke: #16161680;
  margin-top: 10px;
}

.iconOption {
  display: flex;
  align-items: center;
}

.iconRadio {
  display: none;
}

.icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  fill: none;
  transition: fill 0.3s ease, background-color 0.3s ease;
}

.activeIcon {
  stroke: #161616;
  fill: #bedbb0; /* Виділення активної іконки */
}

.backgrounds {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.backgroundOption {
  /* width: 28px;
  height: 28px;
 */
  cursor: pointer;
  transition: transform 0.2s ease;
  border: 2px solid transparent;
}

.backgroundOption:hover {
  transform: scale(1.05);
}
.backgroundOption input:checked + label img {
  box-shadow: 0 0 0 2px #bedbb0; /* Підсвічування вибраного фону */
  transform: scale(1.05); /* Легке збільшення */
}

.backgroundOption:hover img {
  transform: scale(1.1);
  box-shadow: 0 0 0 3px #bedbb0;
}
.createButton {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #bedbb0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.createButton:hover {
  background-color: #a6c398;
}
.activeIcon .backgroundImage {
  width: 28px;
  height: 28px;
}
.backgroundImage {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  object-fit: cover;
}
